
.Tabla table th {
    text-transform: uppercase;
}
.Tabla .contador {
    display: inline-block;
    width: 10%;
    height: 10%;
    text-align: center;
}
.contenedor-eliminar {
    width: 100%;
}
.Tabla .eliminar {
    color: red;
    font-size: 2rem;
    text-align: center;
    margin: 0 40%;
    cursor: pointer;
}
.contenedor-contador {
    width: 100%;
}

